modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
CI = "true"

[deployment.build]
args = ["pnpm", "install"]
env = { "CI" = "true" }

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25640
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CI = "true"
VAPID_PUBLIC_KEY = "BH49Wj-KCNo5hvtmWMIbnl3AXCosS4oAzHm1yGPKHdpiyx2RNlhcQ0EmrOkIU0mBSUPAehje5D-p3DVk4IX0Fyg"
VAPID_SUBJECT = "mailto:hello@usefollowup.ca"
VAPID_PRIVATE_KEY = "jP3FWhEdjS6WVwy-Iry88boqWtOBqiTq6qeo_oizpIc"
